<!--
  ~ Copyright 2015 Google Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.google.samples.apps.topeka">

    <application android:allowBackup="false"
                 android:fullBackupContent="false"
                 android:hardwareAccelerated="true"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="false"
                 android:theme="@style/Topeka"
                 tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".activity.SignInActivity"
                  android:theme="@style/Topeka.SignInActivity"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CategorySelectionActivity"
                  android:theme="@style/Topeka.CategorySelectionActivity" />

        <activity android:name=".activity.QuizActivity"
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="adjustPan"
                  android:theme="@style/Topeka.QuizActivity"/>

    </application>
</manifest>
